* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s ease-in-out;
    
}

body {
    padding: 40px;
    font-family: 'Comfortaa';
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2.5rem;
}

.form-container{
    padding: 1rem;
}

.login-form {
  display: grid;
  grid-template-columns:max-content 250px; /* label | input */
  gap: 10px 15px;
  align-items: center;
}

.register-form {
  display: grid;
  grid-template-columns:max-content 300px;
  column-gap: 15px;
  row-gap: 4px;
  align-items: start;
}

.login-form input, .login-form select {
  padding: 4px;
}

.register-form input,
.register-form select,
.register-form textarea {
  padding: 6px;
}

.error {
    grid-column: 2;
    color: red;
    font-size: 0.85rem;
    margin-bottom: 6px;
}

.btn-row {
  grid-column: span 2;
  text-align: center;
}
.btn-row button{
    font-size: large;
    padding: 0.5rem;
    width: 50%;
}

.asterik{
    color: red;
}